/* ini selector tag */
p{
    color: rgb(47, 255, 0);
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
}
body{
background-color: darkturquoise;
background-repeat: no-repeat;
}
/* grouping css */

fieldset, legend{
    border: yellow groove 3px;
    border-radius: 30px;
}
legend{
    padding: 10px;
    font-weight: bold;
    font-size: 14pt;
}
table{
    border: 10px;
    margin: auto;
}
/* psudo element id dan class */
div#menu {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    
}
a.item:link, a.item:visited, a.item:active{
 text-decoration: none;
 font-size: 16pt;   
 color: yellow;
 border: 2px solid yellow;
 padding: 10px;
 background-color: rgb(11, 171, 46);
 /* display: block;
 width: 20%; */
 

}
a.item:hover{
    text-decoration: none;
    font-size: 14pt;
    color: white;
    border: 2px solid greenyellow;
    padding: 15px;
    background-color: yellowgreen;
}
li.menu{
    color:blue;
}
h1{
    text-shadow: 0px 0px rgb(240, 240, 237);
    color: rgb(26, 255, 0);
}



/* #atas,#bawah {
    text-align: right;
} */